DB_HOST=SEU_HOST_POSTGRES
DB_PORT=5432
DB_USER=alvim
DB_PASS=
DB_NAME_PROD=vision_check
DB_NAME=vision_check

BKOFFICE_USER=RENATO.FROTA
BKOFFICE_PASS=
BKOFFICE_URL=https://bkoffice-franquia.burgerking.com.br
BKOFFICE_USE_CHROME=0
BKOFFICE_HEADLESS=1
BKOFFICE_TIMEOUT_MS=120000
BKOFFICE_SYNC_ID_LOJA=21

SYNC_INTERVAL_MS=60000
